.btn--link {
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 1px solid $green;
  border-radius: 4px;
  background: $white;
  color: $green;
  .icon {
    color: $green;
  }
  @media (pointer: fine) {
    &:hover {
      background: $green;
      color: $white;
      outline: 1px solid $white;
    }
  }
  &:active {
    background: $green;
    color: $white;
    outline: 1px solid $white;
  }
}
