.btn--primary {
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 4px;
  background: $btn-bg;
  color: $btn-color;
  .icon {
    color: $btn-color;
  }
  @media (pointer: fine) {
    &:hover {
      background: $white;
      color: $green;
      outline: 1px solid $green;
    }
  }
  &:active {
    background: $white;
    color: $green;
    outline: 1px solid $green;
  }
}
