.title {
  --dp-block: block;
  display: var(--dp-block);
  // font-weight: 700;
  //   line-height: 1.15;
  //color: #fff;
  font-family: $font-secondary;
  //text-transform: uppercase;
  word-wrap: break-word;

  //? theme
  //&--white {
  //    color: #fff;
  //}

  //* размеры
  &--size {
    &-sm {
      font-size: size(20);
      font-weight: 400;
      line-height: auto;
      @include media(lg) {
        font-size: size(25);
      }
    }
    &-md {
      font-size: size(24);
      line-height: 1.4;
      font-weight: 400;

      @include media(lg) {
        font-size: size(40);
      }
    }
    &-lg {
      font-size: size(30);
      line-height: 1.1;
      font-weight: 500;
      @include media(lg) {
        font-size: size(64);
      }
    }
  }
  //* стиль
}

// font-feature-settings: 'pnum' on, 'lnum' on;
