<div id="modal-form" class="modal modal--theme-secondary">
  <div class="modal__wrapper">
    <div class="modal__container modal-form">
      <div class="modal__box modal-form__box modal-target">
        <div class="modal-form__wrapper">
          <button class="modal-form__close modal__close">
            <span></span>
            <span></span>
          </button>
          <form id="form-modal" class="form js-form">
            <input
              class="form-input-title"
              type="hidden"
              name="form-title"
              value=""
            />
            <label class="form-field">
              Имя
              <input
                class="form-field__input"
                placeholder="text"
                type="text"
                name="name"
              />
            </label>
            <label class="form-field"
              >Телефон
              <input
                class="form-field__input form-phone"
                placeholder="phone"
                type="tel"
                name="phone"
              />
            </label>
            <label class="form-textarea">
              Сообщение
              <textarea class="form-textarea__input"></textarea>
            </label>
            <div class="form-send">
              <div class="form-send__message">
                <div class="form-send__loading"><span></span></div>
                <p class="form-send__success">
                  Спасибо, ваша заявка принята. Менеджер свяжется с вами в
                  ближайшее время
                </p>
                <p class="form-send__error">
                  Что-то пошло не так. Заявка не отправлена.
                </p>
              </div>
              <button
                type="submit"
                class="form-send__btn btn btn--primary btn--size-md"
              >
                Задать вопрос
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
