<section id="inspection_oil" class="inspection_oil">
  <div class="container">
    <div class="inspection_oil__img">
      <img src="images/inspection_oil/image.jpg" alt="" />
    </div>
    <div class="box-y">
      <h2 class="inspection_oil__title title title--size-md">
        Обследование оборудования <br />
        на заводе по производству <br />
        растительных масел
      </h2>
      <div class="inspection_oil__content">
        <p class="text__size-lg">
          Если технологическая линия на производстве включает в себя несколько
          неоднородных (по составу выброса) источников, то чаще всего внедрением
          одной установки газоочистки (любой, будь то скруббер, гидрофильтр,
          электрофильтр и т.д.) невозможно достичь 100% очистки газовоздушной
          смеси. Это подтвердил опыт завода по производству нерафинированных
          растительных масел и их фракций.
        </p>
        <a class="btn btn--link btn--size-md" href="#">Читать подробнее</a>
      </div>
    </div>
  </div>
</section>
