<section id="specialization" class="specialization">
  <div class="container">
    <h2 class="specialization__title title title--size-md">
      Наша специализация
    </h2>

    <div class="specialization__content">
      <div class="specialization__content-item">
        <img src="images/specialization/img-1.jpg" alt="" />
        <div class="specialization__content-item__info">
          <h2
            class="specialization__content-item__info__title title title--size-md"
          >
            01 / Очистка выбросов
          </h2>
          <h3
            class="specialization__content-item__info__subtitle title title--size-sm"
          >
            Очистка выбросов. Комплексные решения «под ключ»
          </h3>
          <ol class="specialization__content-item__info__list">
            <li class="specialization__content-item__info__list-item">
              Разработка
            </li>
            <li class="specialization__content-item__info__list-item">
              Проектирование
            </li>
            <li class="specialization__content-item__info__list-item">
              Изготовление
            </li>
            <li class="specialization__content-item__info__list-item">
              Монтаж
            </li>
            <li class="specialization__content-item__info__list-item">
              Пусконаладка систем очистки воздуха
            </li>
          </ol>

          <div class="specialization__content-item__info__buttons box">
            <a class="btn btn--primary btn--size-md" href="#">Подробнее</a>
            <button class="btn btn--link btn--size-md">
              Получить консультацию
            </button>
          </div>
        </div>
      </div>
      <div class="specialization__content-item reverse">
        <img src="images/specialization/img-2.jpg" alt="" />
        <div class="specialization__content-item__info reverse__info">
          <h2
            class="specialization__content-item__info__title title title--size-md"
          >
            02 / Реконструкция
          </h2>
          <h3
            class="specialization__content-item__info__subtitle title title--size-sm"
          >
            Реконструкция газоочистного оборудования
          </h3>

          <div class="specialization__content-item__info-block">
            <p class="specialization__content-item__info-block-text">
              Проводится в случае снижения газоотчистки.
            </p>
            <p class="specialization__content-item__info-block-text">
              Возможные причины снижения:
            </p>

            <ul class="specialization__content-item__info-block__list">
              <li class="specialization__content-item__info-block__list-item">
                Износ отдельных технологических узлов
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Износ вентиляции
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Изменение производительности системы (в случае подключения
                дополнительного источника выброса к системе или увеличения ГВС
                при технологическом процессе)
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Система очистки была неверно подобрана изначально, не были
                учтены все особенности ГВС
              </li>
            </ul>
            <div class="specialization__content-item__info__buttons">
              <a class="btn btn--primary btn--size-md" href="#">Подробнее</a>
              <button class="btn btn--link btn--size-md">
                Получить консультацию
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="specialization__content-item">
        <img src="images/specialization/img-3.jpg" alt="" />
        <div class="specialization__content-item__info">
          <h2
            class="specialization__content-item__info__title title title--size-md"
          >
            03 / Обследование и анализ
          </h2>
          <h3
            class="specialization__content-item__info__subtitle title title--size-sm"
          >
            Обследование и инструментальный анализ источника выброса
          </h3>

          <div class="specialization__content-item__info-block">
            <p class="specialization__content-item__info-block-text">
              Проводится в случае:
            </p>
            <ul class="specialization__content-item__info-block__list">
              <li class="specialization__content-item__info-block__list-item">
                Проектирования системы очистки воздуха на предприятии
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Выявления причин низкой эффективности газоотчистного
                оборудования
              </li>
            </ul>

            <p class="specialization__content-item__info-block-text">
              Перечень работ:
            </p>
            <ol class="specialization__content-item__info-block__list">
              <li class="specialization__content-item__info-block__list-item">
                Замеры на источнике выброса с помощью прибора оперативного
                контроля для определения параметров ГВС на очистку
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Обследование вентиляционной системы
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Обслежование технологического оборудования
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Сверка данных с проектной документацией
              </li>
              <li class="specialization__content-item__info-block__list-item">
                Предоставление отчета по результатам обследования и анализа
              </li>
            </ol>

            <div class="specialization__content-item__info__buttons box">
              <a class="btn btn--primary btn--size-md" href="#">Подробнее</a>
              <button class="btn btn--link btn--size-md">
                Получить консультацию
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
